body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.Career_Objective{
  font-style: italic;

}

#Picture{
  float: right;
  overflow:auto;
  position: relative;
  -ms-transform: rotate(300deg);  
  -webkit-transform: rotate(-7deg); 
   transform: rotate(-7deg)
  -webkit-compon;

}

h1{
 border-bottom: solid;
}

 #Education_Category, #Skills_Category, #Experience_Category, #Hobbies_Category{
 
  float:left;
  margin-right: 50px;
  height: 150px;
  width: 150px;
  border-right:solid;
  font-size: 20px;
  position: relative;
  overflow: auto;
  padding-right: 20px;

}

.Education, .Skills, .Experience, .Hobbies {
  clear:both;
  overflow: auto;

}