{% extends "base.html" %}

{% block main %}
<h1>Flask Starter Code</h1>
<p class="lead">This is a web app i created using a Flask template.<br>
It is coded using python, HTML/CSS files.</p>

<strong> <marquee><h4>Welcome To My Webpage!!!...Hope You Like It :)</h4></marquee> </strong>
Do view my profile and about pages via the navagation tab. <br>
Several sites have been beneficial to me throughout my tenure at school; and as such, I would like to introduce a few of them to you:

</center>
	<br>
    </li>
	<br><br>
    <hr>
	<center><img src="https://getawaytrekking.com.au/file/2017/10/Loop-News-Group.png"   width=15%  height=13%   alt="loop logo"  align="center"></center>
	</li>
	<br><br>
	<ol>
	<li> <a target="_blank" href="http://www.loopjamaica.com/">loopjamaica.com </a> is a website that contains local as well as international news.I'm often very busy at school and generally miss local news so i rely on loop to keep me abreast with whats happening around me whether it be news,sports entertainment etc.
    <br><br>
	
 <center>
	<img src="http://i.stack.imgur.com/oURrw.png"   width=20%  height=13% alt="google logo"  align="center">
	</center>
       <li><a target="_blank" href="https://stackoverflow.com/"> stackoverflow.com</a> is another vital and extensive site, it is a site i use to help me with programming,it is a site where you can interact with other programmers and obtain information about coding in various proramming languages.
	<br><br>
	
	</li>

       <br><br>
       <center><img src="https://pmcvariety.files.wordpress.com/2014/07/youtube-logo-full_color.jpg?w=670&h=377&crop=1"   width=20%  height=13% alt="Youtube logo"  align="center"></center>
       <br>
       <li><a target="_blank" href="https://www.youtube.com/"> Youtube.com</a> is a practical solution for students experiencing difficulties in any subject area. It is used by many who post videos of step by step approaches to various problems. Whatever you require information about this site is always a primary option.
	<br><br>
	</li>
        </ol>

       <br><br><br>
       &nbsp;<br>
    <center><hr>Copyright &copy; 2018; All Rights Reserved|GLawtonWorks</center>
</body>
       
       
{% endblock %}