{% extends "base.html" %}

{% block main %}

<link rel="stylesheet" href="{{ url_for('static', filename='/css/app.css') }}" type="text/css" />

<div class="profile">
    <img src="{{ url_for('static', filename='20180104_131000.jpg' ) }}"/>
    <h1>Gawayne Lawton</h1>
    <p><span class="title">Today's date is</span> {{ time }}</p>
    <p><span class="title">Username:</span> G-Wayne</p>
    <p><span class="title">Location:</span> Kingston, Jamaica</p>
    <p><span class="title">Date Joined:</span> February 7, 2018</p>
  
<div class="bottom">
    <p class="details">I am a smart talented young man who loves website design and development. Contact me if you would like to work together on a new project. </p>
    <div class="stat">
       <span class="value">650</span>
       <span class="label">Posts</span>
    </div>
    <div class="stat">
       <span class="value">127</span>
       <span class="label">Following</span>
    </div>
    <div class="stat">
       <span class="value">875</span>
       <span class="label">Followers</span>
    </div>
    <a target="_blank" href="https://github.com/G-Wayne/"><button id="button" >Follow</button></a>
</div>
</div>
      
  

{% endblock %}